services:
  receiver:
    build:
      dockerfile: ./src/Dockerfile
      context: ./
    restart: unless-stopped
    volumes:
      - ./secrets/appsettings.secrets.json:/App/appsettings.secrets.json
    networks:
      - thermometer-network

  rtl_433:
    image: hertzg/rtl_433:25.02
    restart: unless-stopped
    networks:
      - thermometer-network
    privileged: true
    command:
      - "-f"
      - "868M"
      - "-R"
      - "0"
      - "-X"
      - "n=Ecowitt,m=FSK_PCM,s=58,l=58,r=59392,bits=169"
      - "-F"
      - "mqtt://mosquitto,retain=0,events=rtl_433/Ecowitt"

networks:
  thermometer-network: null
